@import 'typeplate';
@import '_vars-typeplate';

// Global styles

$accent-color: #6C71C4;

body {
    background-color: #f9f9f9;
    width: 100%;
    margin: 10px 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans;
}

a {
    color: $accent-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.pullquote {
    @include pull-quotes(1.5em, 1, $accent-color);
    font-size: 24px;
}

header {
    margin: 0 auto;
    text-align: center;
    border-bottom: 15px double $accent-color;
    h1 {
        @extend .giga;
        font-weight: 900;
        a {
            &:hover {
                color: lighten($accent-color, 15%);
                text-decoration: none;
            }
            transition: color .5s;
            -webkit-transition: color .5s;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 10px;
        li {
            font-family: $font-family-sans;
            font-size: 21px;
            display: inline-block;
            padding: 0 10px 0 0;
        }
    }
    @media screen and (max-width: 600px) {
        h1 {
            font-size: 48px;
        }
    }
}

article {
    margin: 20px auto 0;
    max-width: 660px;
    .date {
        color: #999;
    }
    h1 {
        @extend .gamma;
        color: $accent-color;
        a {
            &:hover {
                color: lighten($accent-color, 15%);
                text-decoration: none;
            }
            transition: color .5s;
            -webkit-transition: color .5s;
        }
    }
    h2 {
        @extend .epsilon;
    }
    h3 {
        @extend .zeta;
    }
    @media screen and (max-width: 660px) {
        width: 90%;
        margin: 20px auto 0;
    }
    img {
        max-width: 660px;
        width: 100%;
    }
}

.border {
    margin-top: 20px;
    border-bottom: 15px double $accent-color;
}

footer {
    margin: 20px auto 0;
    text-align: center;
    font-family: $font-family-sans;
}

// Home page styles

.preview {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    &:nth-child(3) {
        border-bottom: none;
    }
}

// Code page

article.projects {
    max-width: 1368px;
    width: 95%;
    margin: 0 auto;
    clear: both;
    .project {
        width: 25%;
        padding-left: 5%;
        display: inline-block;
        vertical-align: top;

        h1 {
            font-size: 24px;
            text-align: center;
        }

        figure {
            width: 100%;
            margin: 0 0 10px;
        }
        figcaption {
            font-family: $font-family-sans;
            color: #999;
            font-style: italic;
        }
    }

    @media screen and (max-width: 1023px) {
        .project {
            width: 90%;
        }
    }
}